@-webkit-keyframes kvAnimate {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: -400%;
  }
}

@keyframes kvAnimate {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: -400%;
  }
}

body, html {
  position: relative;
  width: 100%;
}

* {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

.main {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
  width: 100%;
  position: relative;
  overflow: hidden;
  font-size: 1em;
  background: #161c21;
  z-index: 1;
}

@media (max-width: 960px) {
  .main {
    font-size: 0.8em;
  }
}

@media (max-width: 350px) {
  .main {
    font-size: 0.7em;
  }
}

.main figure {
  line-height: 0;
}

.main .navBar {
  width: 100%;
  position: relative;
  z-index: 2;
}

.main .navBar .navBarBlock {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  height: 63px;
  color: rgba(255, 255, 255, 0.6);
  z-index: 20;
}

.main .navBar .navBarBlock__logo {
  display: block;
  cursor: pointer;
}

.main .navBar .navBarBlock__btn {
  cursor: pointer;
  font-family: Montserrat;
  font-weight: 500;
  padding: 10px 20px;
}

.main .navBar .navBarBlock__btn--active {
  border-bottom: 3px solid #9C34B7;
  color: #fff;
}

.main .navBar .navBarBlock__alink {
  position: relative;
  display: block;
  text-decoration: none;
  color: #fff;
  padding: 3px;
  background: -webkit-gradient(linear, left top, right top, from(#901ebc), to(#4511e9));
  background: linear-gradient(to right, #901ebc, #4511e9);
  border-radius: 50px;
}

.main .navBar .navBarBlock__alink-btn {
  background: #161c21;
  padding: 6px 15px;
  border-radius: 50px;
}

.main .navBar .navBarBlock .hamburgerBar {
  width: 100%;
  position: relative;
  -webkit-transition: .5s;
  transition: .5s;
}

.main .navBar .navBarBlock .hamburgerBar__box {
  cursor: pointer;
}

.main .navBar .navBarBlock .hamburgerBar__box-transition {
  -webkit-transition: .5s;
  transition: .5s;
}

.main .navBar .navBarBlock .hamburgerBar__box--active .bar1 {
  -webkit-transform: rotate(-43deg) translate(-2px, 9px);
          transform: rotate(-43deg) translate(-2px, 9px);
}

.main .navBar .navBarBlock .hamburgerBar__box--active .bar2 {
  opacity: 0;
}

.main .navBar .navBarBlock .hamburgerBar__box--active .bar3 {
  -webkit-transform: rotate(45deg) translate(-4px, -10px);
          transform: rotate(45deg) translate(-4px, -10px);
}

.main .navBar .navBarBlock .hamburgerBar .bar {
  width: 36px;
  height: 3px;
  background: #ffffff;
  margin: 6px 0;
  border-radius: 2px;
}

.main .navBar .navBarBlock .menu {
  position: absolute;
  left: 0;
  top: 100%;
  width: 100%;
  background: #919191;
  color: #fff;
  font-size: 1em;
  z-index: 3;
  overflow: hidden;
  max-height: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  font-size: 1.5em;
}

.main .navBar .navBarBlock .menu--active {
  max-height: 600px;
  -webkit-transition: 1s;
  transition: 1s;
}

.main .navBar .navBarBlock .menu__box {
  padding: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.main .navBar .navBarBlock .menu__box-link {
  width: calc( 100%/3 -60px);
  color: #ffffff;
  margin: 20px;
  text-align: center;
}

.main #cooler-video {
  font-family: Montserrat;
}

.main #cooler-video.video {
  overflow: hidden;
  position: relative;
}

.main #cooler-video .video__container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  width: 100%;
  margin: 0 auto;
}

.main #cooler-video .video__container iframe, .main #cooler-video .video__container object, .main #cooler-video .video__container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.main #cooler-video .video__container video {
  width: 100%;
}

.main #cooler-video .video__overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.main #cooler-video .video__btn {
  position: absolute;
  left: 50%;
  top: 40%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
}

.main #cooler-video .video__btn h1 {
  color: #ffffff;
  font-size: 3vw;
  letter-spacing: 1px;
  margin-bottom: 10px;
  font-weight: 900;
  -webkit-filter: drop-shadow(0 0 5px #414141);
          filter: drop-shadow(0 0 5px #414141);
}

.main #cooler-video .video__btn p {
  font-size: 1.5vw;
  color: #fff;
  font-weight: 900;
  margin-bottom: 20px;
  -webkit-filter: drop-shadow(0 0 5px #414141);
          filter: drop-shadow(0 0 5px #414141);
}

.main #cooler-video .video__btn .titleLink {
  position: relative;
  display: inline-block;
  text-decoration: none;
  color: #fff;
  padding: 3px;
  background: -webkit-gradient(linear, left top, right top, from(#901ebc), to(#4511e9));
  background: linear-gradient(to right, #901ebc, #4511e9);
  border-radius: 18px;
  margin: 10px 0 20px;
}

.main #cooler-video .video__btn .titleLink__btn {
  background: #161c21;
  padding: 15px 25px;
  border-radius: 18px;
  border: 0;
}

.main #cooler-video .icon {
  width: 6em;
  height: 6em;
}

.main #cooler-video .creater__anibox-btn {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  color: #fff;
  font-size: 40px;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  cursor: pointer;
  padding: 5px 40px;
}

.main #cooler-video .btn {
  background: transparent;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 2em;
  position: relative;
  outline: none;
  -webkit-filter: drop-shadow(0 0 5px #414141);
          filter: drop-shadow(0 0 5px #414141);
}

.main #cooler-video .btn--play {
  fill: white;
  height: 2em;
  width: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto;
}

.main #cooler-video .btn--play::before, .main #cooler-video .btn--play::after {
  border-radius: 100%;
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.main #cooler-video .btn--play::before {
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-box-shadow: 0 0 0 0.3rem white;
          box-shadow: 0 0 0 0.3rem white;
  transition: background-color .3s ease, fill .3s ease, -webkit-transform .3s ease, -webkit-box-shadow .3s ease;
}

.main #cooler-video .btn--play:hover {
  fill: #b61af3;
}

.main #cooler-video .btn--play:hover::before {
  background-color: rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 0 0 0.2rem #b730e0;
          box-shadow: 0 0 0 0.2rem #b730e0;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.main #cooler-video .btn--play:hover::after {
  display: none;
}

.main #cooler-video .btn--play::after {
  -webkit-box-shadow: inset 0 0 0 1em rgba(255, 255, 255, 0);
          box-shadow: inset 0 0 0 1em rgba(255, 255, 255, 0);
  opacity: 0;
  pointer-events: none;
}

@media screen and (max-width: 960px) {
  .main #cooler-video.video {
    overflow: hidden;
    position: relative;
  }
  .main #cooler-video .video__container {
    position: relative;
    padding-bottom: 100vh;
    height: 0;
    overflow: hidden;
    width: 100%;
    margin: 0 auto;
  }
  .main #cooler-video .video__container iframe, .main #cooler-video .video__container object, .main #cooler-video .video__container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .main #cooler-video .video__container video {
    width: auto;
    height: 100vh;
    -webkit-transform: translateX(-30%);
            transform: translateX(-30%);
  }
  .main #cooler-video .video__overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
  .main #cooler-video .video__btn {
    position: absolute;
    left: 50%;
    top: 40%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
  }
  .main #cooler-video .video__btn h1 {
    font-size: 3em;
  }
  .main #cooler-video .video__btn p {
    font-size: 1.5em;
  }
  .main #cooler-video .icon {
    width: 6em;
    height: 6em;
  }
  .main #cooler-video .creater__anibox-btn {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    color: #fff;
    font-size: 40px;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    cursor: pointer;
    padding: 5px 40px;
  }
  .main #cooler-video .btn {
    background: transparent;
    border: none;
    cursor: pointer;
    font-size: 2em;
    position: relative;
    outline: none;
  }
  .main #cooler-video .btn--play {
    height: 2em;
    width: 2em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: auto;
  }
  .main #cooler-video .btn--play::before, .main #cooler-video .btn--play::after {
    border-radius: 100%;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
  .main #cooler-video .btn--play::before {
    background-color: rgba(255, 255, 255, 0.1);
    transition: background-color .3s ease, fill .3s ease, -webkit-transform .3s ease, -webkit-box-shadow .3s ease;
  }
  .main #cooler-video .btn--play:hover {
    fill: white;
  }
  .main #cooler-video .btn--play:hover::before {
    background-color: rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 0 0 0.2rem white;
            box-shadow: 0 0 0 0.2rem white;
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  .main #cooler-video .btn--play:hover::after {
    display: none;
  }
  .main #cooler-video .btn--play::after {
    -webkit-box-shadow: inset 0 0 0 1em rgba(255, 255, 255, 0);
            box-shadow: inset 0 0 0 1em rgba(255, 255, 255, 0);
    opacity: 0;
    pointer-events: none;
  }
}

.main .threeIcon {
  width: 100%;
  color: #fff;
  padding-top: 5%;
}

.main .threeIcon__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.main .threeIcon__flex .iconBox {
  width: 20%;
  text-align: center;
  margin: 30px;
}

.main .threeIcon__flex .iconBox__figure {
  margin: 0 auto 30px;
  width: 200px;
}

.main .threeIcon__flex .iconBox__figure img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.main .threeIcon__flex .iconBox h3 {
  margin-bottom: 20px;
}

@media screen and (max-width: 960px) {
  .main .threeIcon {
    width: 100%;
    color: #fff;
    padding-top: 5%;
  }
  .main .threeIcon__flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .main .threeIcon__flex .iconBox {
    width: 100%;
    text-align: center;
    margin: 30px;
  }
  .main .threeIcon__flex .iconBox__figure {
    margin: 0 auto 30px;
    width: 200px;
  }
  .main .threeIcon__flex .iconBox__figure img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .main .threeIcon__flex .iconBox h3 {
    margin-bottom: 20px;
  }
}

.main .chairGif {
  width: 100%;
  margin: 5% 0;
  position: relative;
}

.main .chairGif__figure {
  line-height: 0;
  position: relative;
  width: 100%;
  z-index: 1;
}

.main .chairGif__figure img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.main .chairGif__figure-absolute {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 5;
}

.main .chairGif .gifTextBox {
  position: absolute;
  top: 2%;
  right: 10%;
  z-index: 2;
}

.main .chairGif .gifTextBox h2 {
  font-size: 4em;
  margin-bottom: 20px;
  background: -webkit-gradient(linear, left top, right top, from(#901ebc), to(#4511e9));
  background: linear-gradient(to right, #901ebc, #4511e9);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.main .chairGif .gifTextBox p {
  font-size: 1em;
  max-width: 400px;
  color: rgba(255, 255, 255, 0.8);
}

@media screen and (max-width: 960px) {
  .main .chairGif {
    width: 100%;
    margin-top: 5%;
    position: relative;
  }
  .main .chairGif__figure {
    position: relative;
    width: 100%;
  }
  .main .chairGif__figure img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .main .chairGif .gifTextBox {
    padding: 0 5%;
    text-align: center;
    position: static;
    margin: 0 auto;
  }
  .main .chairGif .gifTextBox__block {
    display: inline-block;
  }
  .main .chairGif .gifTextBox h2 {
    font-size: 2em;
    margin-bottom: 10px;
  }
  .main .chairGif .gifTextBox p {
    margin: 0 auto 10px;
    width: 100%;
  }
}

.main .gasp-scroll {
  position: relative;
}

.main .gasp-scroll .animateVideoNew {
  font-family: Montserrat;
  position: absolute;
  z-index: 30;
  color: #fff;
  font-size: 1em;
  top: 50%;
  left: 30%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 40%;
}

.main .gasp-scroll .animateVideoNew__position {
  width: 400px;
  padding: 5%;
  background: -webkit-gradient(linear, left top, right top, from(#9C34B7), to(#34329A));
  background: linear-gradient(to right, #9C34B7, #34329A);
}

.main .gasp-scroll .animateVideoNew__position h2 {
  font-size: 2em;
  margin-bottom: 20px;
}

.main .gasp-scroll .animateVideoNew__position p {
  font-size: 1.5em;
}

.main .gasp-scroll .animateVideoNew__text {
  font-weight: normal;
  font-size: 0.4em;
}

@media screen and (min-width: 2000px) {
  .main .gasp-scroll .animateVideoNew .animateVideoNew {
    font-size: 4em;
  }
  .main .gasp-scroll .animateVideoNew .animateVideoNew__text {
    font-size: 0.8em;
  }
}

@media screen and (max-width: 1300px) {
  .main .gasp-scroll .animateVideoNew .animateVideoNew {
    font-size: 2em;
  }
  .main .gasp-scroll .animateVideoNew .animateVideoNew__text {
    font-size: 0.8em;
  }
}

@media screen and (max-width: 768px) {
  .main .gasp-scroll .animateVideoNew {
    font-family: Montserrat;
    position: absolute;
    z-index: 30;
    color: #fff;
    font-size: 1em;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
    width: 50%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .main .gasp-scroll .animateVideoNew__position {
    width: 100%;
    padding: 5%;
    background: -webkit-gradient(linear, left top, right top, from(#9C34B7), to(#34329A));
    background: linear-gradient(to right, #9C34B7, #34329A);
  }
  .main .gasp-scroll .animateVideoNew__position h2 {
    font-size: 1.5em;
    margin-bottom: 20px;
  }
  .main .gasp-scroll .animateVideoNew__position p {
    font-size: 0.9em;
  }
  .main .gasp-scroll .animateVideoNew__text {
    font-weight: normal;
    font-size: 0.4em;
  }
}

@media screen and (max-width: 500px) {
  .main .gasp-scroll .animateVideoNew {
    font-size: 1.2em;
  }
  .main .gasp-scroll .animateVideoNew__text {
    font-size: 0.8em;
  }
}

.main #videoBoxContainer {
  width: 100%;
  height: 100vh;
}

.main #videoBoxContainer .aegisCanvas {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  z-index: 20;
}

@media screen and (max-width: 1500px) {
  .main #videoBoxContainer .aegisCanvas {
    height: 100vh;
    width: auto;
  }
}

@media screen and (max-width: 768px) {
  .main #videoBoxContainer .aegisCanvas {
    left: -20%;
    height: 100vh;
    width: auto;
  }
}

.main .gasp-scroll2 {
  margin-top: 10%;
  position: relative;
}

.main .gasp-scroll2 .animateVideoNew2 {
  font-family: Montserrat;
  position: absolute;
  z-index: 30;
  color: #fff;
  font-size: 1em;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
}

.main .gasp-scroll2 .animateVideoNew2__position {
  text-align: center;
  padding: 5%;
}

.main .gasp-scroll2 .animateVideoNew2__position h2 {
  font-size: 7vw;
  margin-bottom: 20px;
  background: -webkit-gradient(linear, left top, right top, from(#9C34B7), to(#0300a5));
  background: linear-gradient(to right, #9C34B7, #0300a5);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-filter: drop-shadow(0 0 5px #fff);
          filter: drop-shadow(0 0 5px #fff);
}

.main .gasp-scroll2 .animateVideoNew2__position p {
  font-size: 2vw;
}

.main .gasp-scroll2 .animateVideoNew2__text {
  font-weight: normal;
  font-size: 0.4em;
}

@media screen and (min-width: 2000px) {
  .main .gasp-scroll2 .animateVideoNew2 .animateVideoNew2 {
    font-size: 4em;
  }
}

@media screen and (max-width: 1300px) {
  .main .gasp-scroll2 .animateVideoNew2 .animateVideoNew2__text {
    font-size: 1em;
  }
}

@media screen and (max-width: 768px) {
  .main .gasp-scroll2 .animateVideoNew2 {
    font-family: Montserrat;
    position: absolute;
    z-index: 30;
    color: #fff;
    font-size: 1em;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .main .gasp-scroll2 .animateVideoNew2__position {
    width: 90%;
    padding: 0;
    margin: 0 auto;
  }
  .main .gasp-scroll2 .animateVideoNew2__position h2 {
    font-size: 3em;
    margin-bottom: 20px;
  }
  .main .gasp-scroll2 .animateVideoNew2__position p {
    font-size: 1.2em;
  }
  .main .gasp-scroll2 .animateVideoNew2__text {
    font-weight: normal;
    font-size: 0.4em;
  }
}

@media screen and (max-width: 500px) {
  .main .gasp-scroll2 .animateVideoNew {
    font-size: 1.2em;
  }
  .main .gasp-scroll2 .animateVideoNew__text {
    font-size: 0.8em;
  }
}

.main #videoBoxContainer2 {
  width: 100%;
  height: 100vh;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.main #videoBoxContainer2 .aegisCanvas2 {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  z-index: 20;
}

@media screen and (max-width: 1500px) {
  .main #videoBoxContainer2 .aegisCanvas2 {
    height: 100vh;
    width: auto;
  }
}

@media screen and (max-width: 768px) {
  .main #videoBoxContainer2 .aegisCanvas2 {
    left: 50%;
    height: 100vh;
    width: auto;
  }
}

.main .swiperTextImgBox {
  position: relative;
  width: 100%;
  padding: 50px 0;
  max-width: 900px;
  margin: 0 auto;
  text-align: center;
  color: #FFF;
}

.main .swiperTextImgBox__h2 {
  font-size: 3em;
}

.main .swiperTextImgBox__p {
  color: #FFF;
  margin: 10px 0 20px;
}

.main .swiperTextImgBox__figure {
  width: 100%;
}

.main .swiperTextImgBox__figure img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.main .swiperTextImgBox__changeText {
  max-width: 600px;
  margin: 0 auto;
  padding: 0 5%;
}

.main .swiperTextImgBox .swiperCtrlStyle {
  margin: 20px 0;
  position: relative;
}

.main .swiperTextImgBox .swiperCtrlStyle .swiper-pagination-bullet {
  background: #646464;
}

.main .swiperTextImgBox .swiperCtrlStyle .swiper-pagination-bullet-active {
  background: #fff;
}

@media screen and (max-width: 960px) {
  .main .swiperTextImgBox__h2 {
    font-size: 2em;
  }
}

.main .videoBox2 {
  width: 100%;
  margin: 10% auto 0;
  color: #fff;
  text-align: center;
}

.main .videoBox2__h2 {
  font-size: 3em;
}

.main .videoBox2__p {
  margin: 15px 0;
}

.main .videoBox2__small {
  font-size: 0.7em;
  color: #7a7a7a;
  width: 40%;
  text-align: center;
  margin: 0 auto 5%;
}

.main .videoBox2 video {
  width: 100%;
  height: auto;
}

@media screen and (max-width: 960px) {
  .main .videoBox2 {
    width: 100%;
    margin: 5% 0 0;
    color: #fff;
    text-align: center;
  }
  .main .videoBox2__h2 {
    font-size: 3em;
  }
  .main .videoBox2__p {
    margin: 15px 0;
  }
  .main .videoBox2__small {
    font-size: 0.7em;
    color: #7a7a7a;
    width: 90%;
  }
  .main .videoBox2 video {
    width: 100%;
    height: auto;
  }
}

.main .library {
  width: 100%;
  margin-top: 5%;
  position: relative;
}

.main .library__figure {
  position: relative;
  width: 100%;
  z-index: 1;
}

.main .library__figure img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.main .library__logo {
  width: 200px;
  position: absolute;
  top: 10%;
  left: 50%;
  z-index: 10;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.main .library__logo img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.main .library .libraryBox {
  position: absolute;
  bottom: 10%;
  left: 10%;
  z-index: 2;
}

.main .library .libraryBox h2 {
  font-size: 3em;
  margin-bottom: 20px;
  color: #fff;
  font-weight: 100;
}

.main .library .libraryBox p {
  font-size: 1em;
  max-width: 500px;
  color: rgba(255, 255, 255, 0.8);
}

.main .library .libraryBox__link {
  text-decoration: underline;
  color: #fff;
}

@media screen and (max-width: 960px) {
  .main .library {
    width: 100%;
    margin-top: 5%;
    position: relative;
  }
  .main .library__logo {
    width: 150px;
    position: relative;
    top: 10%;
    left: 50%;
    z-index: 10;
    margin: 20px 0;
  }
  .main .library__logo img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .main .library__figure {
    position: relative;
    width: 100%;
  }
  .main .library__figure img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .main .library .libraryBox {
    padding: 0 5%;
    text-align: center;
    position: static;
    margin: 0 auto;
  }
  .main .library .libraryBox h2 {
    font-size: 2em;
    margin-bottom: 10px;
  }
  .main .library .libraryBox p {
    margin: 0 auto 10px;
    width: 100%;
  }
}

.main .omni {
  width: 100%;
  margin-top: 5%;
  position: relative;
}

.main .omni__figure {
  position: relative;
  width: 100%;
  z-index: 1;
}

.main .omni__figure img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.main .omni .omniBox {
  position: absolute;
  top: 20%;
  left: 10%;
  z-index: 2;
}

.main .omni .omniBox h2 {
  font-size: 4em;
  margin-bottom: 20px;
  background: -webkit-gradient(linear, left top, right top, from(#901ebc), to(#4511e9));
  background: linear-gradient(to right, #901ebc, #4511e9);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.main .omni .omniBox p {
  font-size: 1em;
  max-width: 400px;
  color: rgba(255, 255, 255, 0.8);
}

@media screen and (max-width: 960px) {
  .main .omni {
    width: 100%;
    margin-top: 5%;
    position: relative;
  }
  .main .omni__figure {
    position: relative;
    width: 100%;
  }
  .main .omni__figure img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .main .omni .omniBox {
    padding: 0 5%;
    text-align: center;
    position: static;
    margin: 0 auto;
  }
  .main .omni .omniBox__block {
    display: inline-block;
  }
  .main .omni .omniBox h2 {
    font-size: 2em;
    margin-bottom: 10px;
  }
  .main .omni .omniBox p {
    margin: 0 auto 10px;
    max-width: 100%;
    width: 100%;
  }
}

.main .lightBox {
  position: relative;
  width: 100%;
  padding: 5% 0;
  margin: 0 auto;
}

.main .lightBox__h2 {
  font-size: 3em;
  text-align: center;
  background: -webkit-gradient(linear, left top, right top, from(#901ebc), to(#4511e9));
  background: linear-gradient(to right, #901ebc, #4511e9);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  margin: 20px 0;
}

.main .lightBox__p {
  width: 60%;
  text-align: center;
  margin: 0 auto 80px;
  font-size: 1em;
  color: rgba(255, 255, 255, 0.8);
}

.main .lightBox__link {
  position: relative;
  display: block;
  cursor: pointer;
  width: 100%;
}

.main .lightBox__link img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.main .lightBox__link-absolute {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  background: -webkit-gradient(linear, left top, right top, from(#8f1ebc33), to(#4311e933));
  background: linear-gradient(to right, #8f1ebc33, #4311e933);
}

.main .lightBox__link-absolute .color {
  width: 100%;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #fff;
  opacity: 1;
  font-size: 1.2em;
}

.main .lightBox__link:hover .lightBox__link-absolute {
  opacity: 1;
}

.main .lightBox__fixedArrow {
  position: relative;
}

.main .lightBox__fixedArrow .swiper-slide-active::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, right top, color-stop(20%, #161c21), color-stop(80%, #00000021));
  background: linear-gradient(to right, #161c21 20%, #00000021 80%);
}

.main .lightBox__fixedArrow .swiper-slide-duplicate-prev::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, right top, left top, color-stop(20%, #161c21), color-stop(80%, #00000021));
  background: linear-gradient(to left, #161c21 20%, #00000021 80%);
}

.main .lightBox__fixedArrow .swiper-slide {
  cursor: pointer;
}

.main .lightBox__fixedArrow .button-next .arrowLeft {
  cursor: pointer;
  width: 30px;
  position: absolute;
  z-index: 9999999;
  right: -1%;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.main .lightBox__fixedArrow .button-next .arrowLeft img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.main .lightBox__fixedArrow .button-prev .arrowRight {
  cursor: pointer;
  width: 30px;
  position: absolute;
  z-index: 99999;
  left: -1%;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.main .lightBox__fixedArrow .button-prev .arrowRight img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.main .lightBox .swiperCtrlStyle .swiper-pagination-bullet-active {
  background: #fff;
}

@media screen and (max-width: 960px) {
  .main .lightBox {
    width: 100%;
    padding: 5% 0;
  }
  .main .lightBox__h2 {
    font-size: 2em;
    margin: 20px 0;
  }
  .main .lightBox__p {
    width: 100%;
    margin: 0 auto 5%;
  }
  .main .lightBox__fixedArrow {
    position: relative;
  }
}

@media screen and (max-width: 500px) {
  .main .lightBox {
    width: 100%;
    padding: 5% 0;
  }
  .main .lightBox__h2 {
    font-size: 2em;
    margin: 20px 0;
  }
  .main .lightBox__fixedArrow {
    position: relative;
  }
  .main .lightBox__fixedArrow .swiper-slide-active::after {
    content: '';
    position: static;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
  }
  .main .lightBox__fixedArrow .swiper-slide-duplicate-prev::after {
    content: '';
    position: static;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
  }
}

.main .work {
  width: 100%;
  margin-top: 5%;
  position: relative;
  text-align: center;
}

.main .work__figure {
  position: relative;
  width: 100%;
  z-index: 1;
}

.main .work__figure img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.main .work .workBox {
  position: absolute;
  bottom: 10%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 2;
}

.main .work .workBox h2 {
  font-size: 3em;
  margin-bottom: 20px;
  color: #fff;
  font-weight: 100;
}

.main .work .workBox p {
  font-size: 1em;
  color: rgba(255, 255, 255, 0.8);
}

.main .work .workBox__link {
  text-decoration: underline;
  color: #fff;
}

@media screen and (max-width: 960px) {
  .main .work {
    width: 100%;
    margin-top: 5%;
    position: relative;
  }
  .main .work__figure {
    position: relative;
    width: 100%;
  }
  .main .work__figure img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .main .work .workBox {
    padding: 0 5%;
    text-align: center;
    position: static;
    margin: 0 auto;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  .main .work .workBox h2 {
    font-size: 2em;
    margin-bottom: 10px;
  }
  .main .work .workBox p {
    margin: 0 auto 10px;
    width: 100%;
  }
}

.main .slider {
  max-width: 1440px;
  margin: 0 auto;
}

.main .slider__figure {
  width: 100%;
}

.main .moveOver {
  width: 100%;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(10%, #901ebc), color-stop(80%, #000));
  background: linear-gradient(to bottom, #901ebc 10%, #000 80%);
  padding: 0 5%;
  margin-top: 5%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.main .moveOver .gamePad {
  padding-top: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  width: 100%;
}

.main .moveOver .gamePad__figure {
  width: 40%;
  max-width: 500px;
}

.main .moveOver .gamePad__figure img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.main .moveOver .gamePad__text {
  padding: 20px;
  width: 30%;
  color: #fff;
}

.main .moveOver .gamePad__text h3 {
  font-weight: 100;
  margin: 0 0 20px;
  font-size: 2em;
}

.main .moveOver .gamePad__text p {
  color: rgba(255, 255, 255, 0.582);
  max-width: 500px;
}

.main .moveOver .masterPlus {
  color: #fff;
  width: 100%;
  margin: 100px auto 50px;
  text-align: center;
}

.main .moveOver .masterPlus h2 {
  font-size: 3em;
}

.main .moveOver .masterPlus p {
  color: rgba(255, 255, 255, 0.582);
}

.main .moveOver .masterPlus__text {
  width: 60%;
  margin: 10px auto 50px;
}

.main .moveOver .masterPlus .masterFlexBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  color: #fff;
}

.main .moveOver .masterPlus .masterFlexBox__text {
  text-align: left;
  width: 300px;
}

.main .moveOver .masterPlus .masterFlexBox__text-link {
  display: inline-block;
  color: #fff;
  border: 3px solid #fff;
  border-radius: 10px;
  padding: 8px 15px;
  margin: 20px 0;
}

.main .moveOver .masterPlus .masterFlexBox__text figure {
  width: 100px;
}

.main .moveOver .masterPlus .masterFlexBox__text figure img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.main .moveOver .masterPlus .masterFlexBox__text p {
  margin: 20px 0;
}

.main .moveOver .masterPlus .masterFlexBox__text h3 {
  margin-top: 20px;
}

.main .moveOver .masterPlus .masterFlexBox__figure {
  width: 600px;
}

.main .moveOver .masterPlus .masterFlexBox__figure img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.main .moveOver .othersSay {
  width: 100%;
  color: #fff;
  padding-top: 5%;
}

.main .moveOver .othersSay__h2 {
  font-size: 3em;
  text-align: center;
}

.main .moveOver .othersSay__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.main .moveOver .othersSay__flex .iconBox {
  color: rgba(255, 255, 255, 0.582);
  width: 20%;
  text-align: center;
  margin: 30px;
}

.main .moveOver .othersSay__flex .iconBox__textBox {
  width: 150px;
  margin: 0 auto;
}

.main .moveOver .othersSay__flex .iconBox__text {
  font-size: 1.5em;
  margin: 20px 0;
}

.main .moveOver .othersSay__flex .iconBox__figure {
  margin: 0 auto 30px;
  height: 150px;
}

.main .moveOver .othersSay__flex .iconBox__figure img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.main .moveOver .othersSay__flex .iconBox h3 {
  margin-bottom: 20px;
}

.main .moveOver .swiperVideoBox {
  position: relative;
  width: 100%;
  padding: 50px 0;
  max-width: 900px;
  margin: 0 auto;
}

.main .moveOver .swiperVideoBox .swipervideo__videoBox {
  width: 100%;
}

.main .moveOver .swiperVideoBox .swipervideo__videoBox video {
  width: 100%;
  height: auto;
}

.main .moveOver .swiperVideoBox .swiperCtrlStyle {
  margin: 20px 0;
  position: relative;
}

.main .moveOver .swiperVideoBox .swiperCtrlStyle .swiper-pagination-bullet {
  background: #646464;
}

.main .moveOver .swiperVideoBox .swiperCtrlStyle .swiper-pagination-bullet-active {
  background: #fff;
}

@media screen and (max-width: 960px) {
  .main .moveOver {
    width: 100%;
    padding: 0 5%;
    margin-top: 5%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .main .moveOver .gamePad {
    padding-top: 10%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 100%;
  }
  .main .moveOver .gamePad__figure {
    width: 100%;
    max-width: 100%;
  }
  .main .moveOver .gamePad__figure img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .main .moveOver .gamePad__text {
    padding: 20px;
    width: 100%;
    color: #fff;
  }
  .main .moveOver .gamePad__text h3 {
    font-weight: 100;
    margin: 0 0 20px;
    font-size: 2em;
  }
  .main .moveOver .gamePad__text p {
    color: rgba(255, 255, 255, 0.582);
    max-width: 100%;
  }
  .main .moveOver .masterPlus {
    color: #fff;
    width: 100%;
    margin: 50px auto;
    text-align: center;
  }
  .main .moveOver .masterPlus h2 {
    font-size: 2em;
  }
  .main .moveOver .masterPlus__text {
    width: 100%;
    margin: 10px auto 20px;
    color: rgba(255, 255, 255, 0.582);
  }
  .main .moveOver .masterPlus .masterFlexBox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    color: #fff;
  }
  .main .moveOver .masterPlus .masterFlexBox__text {
    text-align: center;
    width: 300px;
  }
  .main .moveOver .masterPlus .masterFlexBox__text-display {
    display: block;
  }
  .main .moveOver .masterPlus .masterFlexBox__text-link {
    display: block;
    color: #fff;
    border: 3px solid #fff;
    border-radius: 10px;
    padding: 8px 15px;
    max-width: 100px;
    text-align: center;
    margin: 20px auto;
  }
  .main .moveOver .masterPlus .masterFlexBox__text figure {
    width: 100px;
    margin: 20px auto 0;
  }
  .main .moveOver .masterPlus .masterFlexBox__text figure img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .main .moveOver .masterPlus .masterFlexBox__text p {
    margin: 20px 0;
  }
  .main .moveOver .masterPlus .masterFlexBox__text h3 {
    margin-top: 20px;
  }
  .main .moveOver .masterPlus .masterFlexBox__figure {
    width: 100%;
    margin: 0 auto;
  }
  .main .moveOver .masterPlus .masterFlexBox__figure img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .main .moveOver .othersSay {
    width: 100%;
    color: #fff;
    padding-top: 5%;
  }
  .main .moveOver .othersSay__h2 {
    font-size: 2em;
  }
  .main .moveOver .othersSay__flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .main .moveOver .othersSay__flex .iconBox {
    width: 100%;
    text-align: center;
    margin: 30px;
  }
  .main .moveOver .othersSay__flex .iconBox__text {
    font-size: 1.5em;
    margin: 10px 0;
  }
  .main .moveOver .othersSay__flex .iconBox__figure {
    margin: 0 auto 30px;
    height: 200px;
  }
  .main .moveOver .othersSay__flex .iconBox__figure img {
    width: 100%;
    height: 100%;
    -o-object-fit: contain;
       object-fit: contain;
  }
  .main .moveOver .othersSay__flex .iconBox h3 {
    margin-bottom: 20px;
  }
}

.main .PreOrder {
  width: 100%;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(10%, #901ebc), color-stop(80%, #000));
  background: linear-gradient(to bottom, #901ebc 10%, #000 80%);
  padding: 0 5%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.main .PreOrder .PreOrderBox {
  width: 100%;
  color: #fff;
  padding-top: 5%;
  margin: 0 auto;
}

.main .PreOrder .PreOrderBox__h2 {
  font-size: 3em;
  text-align: center;
  width: 60%;
  margin: 0 auto 20px;
}

.main .PreOrder .PreOrderBox__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.main .PreOrder .PreOrderBox__flex .PreOrderIconBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: rgba(255, 255, 255, 0.582);
  width: 20%;
  text-align: center;
  margin: 10px;
}

.main .PreOrder .PreOrderBox__flex .PreOrderIconBox__figure {
  margin: 0 auto 30px;
  height: 150px;
}

.main .PreOrder .PreOrderBox__flex .PreOrderIconBox__figure img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.main .PreOrder .PreOrderBox__flex .PreOrderIconBox h4 {
  color: #fff;
  text-align: center;
  margin-bottom: 30px;
}

.main .PreOrder .PreOrderBox__box {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.main .PreOrder .PreOrderBox__box-link {
  text-align: center;
  display: inline-block;
  color: #fff;
  border: 3px solid #fff;
  border-radius: 15px;
  padding: 10px 30px;
  margin: 20px auto;
}

.main .PreOrder .PreOrderBox__small {
  font-size: 0.8em;
  text-align: center;
  color: rgba(255, 255, 255, 0.582);
}

.main .PreOrder .vive {
  width: 100%;
  padding: 5% 0;
  text-align: center;
  margin: 0 auto;
  color: rgba(255, 255, 255, 0.582);
}

.main .PreOrder .vive__figure {
  margin: 0 auto;
  width: 600px;
}

.main .PreOrder .vive__figure img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.main .PreOrder .vive__h2 {
  font-size: 3em;
  color: #fff;
  margin-bottom: 10px;
}

.main .PreOrder .vive__box {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.main .PreOrder .vive__box-link {
  text-align: center;
  display: inline-block;
  color: #fff;
  border: 3px solid #fff;
  border-radius: 15px;
  padding: 10px 30px;
  margin: 10px auto 20px;
}

.main .PreOrder .vive__small {
  font-size: 0.8em;
  text-align: center;
  color: rgba(255, 255, 255, 0.582);
}

.main .PreOrder .videoBox {
  position: relative;
  padding: 3% 0;
  z-index: 100;
}

.main .PreOrder .videoBox__wrap {
  width: 100%;
  margin: auto;
  max-width: 1600px;
}

.main .PreOrder .videoBox__wrap .video {
  width: 60%;
  margin: 0 auto;
}

.main .PreOrder .videoBox__wrap .video__box {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
}

.main .PreOrder .videoBox__wrap .video__box iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.main .PreOrder .swiperSliderBox {
  position: relative;
  width: 100%;
  padding: 50px 0;
  max-width: 1200px;
  margin: 0 auto;
}

.main .PreOrder .swiperSliderBox__h2 {
  font-size: 3em;
  text-align: center;
  color: #fff;
  margin: 20px 0;
}

.main .PreOrder .swiperSliderBox__link {
  display: block;
  cursor: pointer;
  width: 100%;
}

.main .PreOrder .swiperSliderBox__link img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.main .PreOrder .swiperSliderBox__fixedArrow {
  position: relative;
}

.main .PreOrder .swiperSliderBox__fixedArrow .button-next .arrowLeft {
  cursor: pointer;
  width: 30px;
  position: absolute;
  z-index: 9999999;
  right: -1%;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.main .PreOrder .swiperSliderBox__fixedArrow .button-next .arrowLeft img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.main .PreOrder .swiperSliderBox__fixedArrow .button-prev .arrowRight {
  cursor: pointer;
  width: 30px;
  position: absolute;
  z-index: 99999;
  left: -1%;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.main .PreOrder .swiperSliderBox__fixedArrow .button-prev .arrowRight img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.main .PreOrder .swiperSliderBox .swiperCtrlStyle .swiper-pagination-bullet-active {
  background: #fff;
}

@media screen and (max-width: 960px) {
  .main .PreOrder {
    width: 100%;
    padding: 0 5%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .main .PreOrder .PreOrderBox {
    width: 100%;
    color: #fff;
    padding-top: 5%;
  }
  .main .PreOrder .PreOrderBox__h2 {
    width: 100%;
    font-size: 2em;
  }
  .main .PreOrder .PreOrderBox__flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .main .PreOrder .PreOrderBox__flex .PreOrderIconBox {
    width: 100%;
    text-align: center;
    margin: 30px;
  }
  .main .PreOrder .PreOrderBox__flex .PreOrderIconBox__figure {
    margin: 0 auto 30px;
    height: 90%;
  }
  .main .PreOrder .PreOrderBox__flex .PreOrderIconBox__text {
    font-size: 1.5em;
    margin: 10px 0;
  }
  .main .PreOrder .PreOrderBox__flex .PreOrderIconBox h4 {
    color: #fff;
    text-align: center;
    margin-bottom: 10px;
  }
  .main .PreOrder .vive {
    width: 100%;
    padding: 50px 0;
    text-align: center;
    color: rgba(255, 255, 255, 0.582);
  }
  .main .PreOrder .vive__figure {
    width: 100%;
  }
  .main .PreOrder .vive__figure img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .main .PreOrder .vive__h2 {
    font-size: 2em;
  }
  .main .PreOrder .videoBox__wrap .video {
    width: 100%;
    margin: 0 auto;
  }
  .main .PreOrder .swiperSliderBox__h2 {
    font-size: 2em;
  }
}

#lightcase-case {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100% !important;
  margin-left: 0 !important;
  margin-top: 0 !important;
  max-width: 900px !important;
}

#lightcase-case img {
  width: 100% !important;
}

#lightcase-case .lightcase-contentInner {
  line-height: 0 !important;
  height: auto !important;
  width: auto !important;
}

.show_deskTop {
  display: block;
}

.show_mobile {
  display: none;
}

@media screen and (max-width: 960px) {
  .show_deskTop {
    display: none;
  }
  .show_mobile {
    display: block;
  }
}
/*# sourceMappingURL=main.css.map */